.nav {
    padding: 0 40px 0 40px;
}
.navbar-header {
}
.navbar-collapse {
    text-align: center;
    height: 400px;
    background-color: #333B4C;
}
.navbar-collapse button {
    text-align: center;
}
.navbar-custom {
    margin: 0px;
    border-radius: 0px;
    background-color: #333B4C;
}
.navbar-custom ul li a {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.navbar-brand a {
    text-align: center;
}
.navbar-brand span {
    color: #3bc0c3;
}
.navbar-brand i {
    font-size: 15px;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #3bc0c3;
    line-height: 30px;
    font-size: 30px;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
    padding: 2px;
    vertical-align: center;
}